body {
    background-color: gray;
}
.container {
    display: grid;
    height: 90vh;
    width: 90vw;
    align-content: center;
    justify-content: center;
    
}
.calcBody, .clear, .button, .screen{
    display:grid;
    align-content: center;
    justify-content: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
}
.calcBody {
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(163, 163, 163);
    width: 300px;
    height: 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);

}
.clear, .button, .screen{
    background-color: lightgray;
}

.screen{
    align-content: bottom;
    justify-content: right;
    padding-right: 10px;
}
.clear{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end:2;
    background-color: lightcoral;
}
.clear:hover{
    background-color: rgb(235, 119, 119);
}
.screen{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end:1;
}

.button:hover{
    background-color: rgb(189, 188, 188);
    border-color: lightcoral;
}
